.contenedor {
    width: 100%;
    /* max-width:1000px; */
    justify-content: center;
    /* Flexbox */
    display: flex;
    flex-flow: row wrap;


}

.pedido-form {
    box-sizing: border-box;
    max-width: calc(100vw - 40px);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    border-radius: 10px;
	margin: auto;
}



header {
    /* position: static; */
    /*  position: fixed; */

    /* Flexbox */

    top: 10px;
    /*  background:#1976d2; */
    width: 100%;
    padding: 20px;

    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

header .logo {
    color: #fff;
    font-size: 30px;
}

header .logo img {
    width: 150px;
    vertical-align: top;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}

.menu-bar {
    border-radius: 55px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: drop-shadow(8px 8px 10px green);
    backdrop-filter: drop-shadow(8px 8px 10px green);
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
}

.menu-bar li {
    list-style: none;
    color: #eff3f7;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.menu-bar li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}

.menu-bar li:hover {
    color: black;
}

.menu-bar li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}

/*ACÃ COMIENZA CSS PARA SUBMENU*/

.menu-bar ul {
    z-index: 2;
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu-bar li:hover>ul {
    display: block;
}

.menu-bar ul {
    list-style: none;
}



.contenedor-mob {
    display: none;
}

.main {
    width: 100%;
    padding: 15px;

    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.main article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

footer {
    background: #1976d2;
    width: 100%;
    padding: 45px;
    bottom: 0;
    height: 40px;
    left: 0;

    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .links {
    background: #1976d2;
    display: flex;
    flex-wrap: wrap;
}

footer .links a {
    flex-grow: 1;

    color: #fff;
    padding: 0.5px;
    text-align: center;
    text-decoration: none;
}

footer .links a:hover {
    background: #1976d2;
}

footer .social {
    background: #1976d2;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    padding: 0.5px;
    display: inline-block;
}



footer #twitter-logo:hover,
footer #youtube-logo:hover {
    opacity: 0.8;
}




.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 1000px;
    height: 600px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}




.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}


.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}



.popup2 .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}


.popup2 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 500px;
    height: 250px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.popup2 .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup2.active .overlay {
    display: block;
}

.popup2.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}



.popup3 .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}


.popup3 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 500px;
    height: 250px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


.popup3 .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup3.active .overlay {
    display: block;
}

.popup3.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}




.popup4 .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}


.popup4 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 500px;
    height: 250px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


.popup4 .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup4.active .overlay {
    display: block;
}

.popup4.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}





@media screen and (max-width: 575px) {

    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }

    .contenedor {
        width: 100%;
        /* flex-direction:column; */
    }

    .table-striped {
        flex-direction: column;

    }



    .main {

        flex-direction: column;
        /* padding-top: 260px; */

    }

    header {
        flex-direction: column;
        /* padding:0; */
    }

    header .logo {
        margin: 20px 0;
    }

    header nav {
        width: 100%;
    }

    /* .menu-bar {
		width: 150%;
		
	} */

    footer {
        width: 100%;
        /* justify-content:space-around; */

    }

    .contenedor-mob {
        display: none;
    }


    .contenedor {
        display: block;
    }




}


@media screen and (max-width: 767px) {

    .contenedor-mob {
        /*  display: block; */
        display: none;

    }

    .contenedor {
        /*  display: none ; */
        display: block;
    }

    footer {
        width: 100%;
        /* justify-content:space-around; */

    }
}